@font-face {
	font-family: Whitney;
	src: url(/static/whitney.woff);
}

@font-face {
	font-family: Whitney;
	font-weight: 700;
	src: url(/static/whitney_medium.woff);
}

body {
    margin: 0;

    background-color: #212121;
    color: #fefefe;

    font-family: "Whitney", sans-serif;

	height: 100vh;
	width:  100vw;

	display: flex;
	justify-content: stretch;
}

body.feed {
	/* Passthrough mouse */
	pointer-events: none;
}

main.homepage {
	z-index: 10;
	background: linear-gradient(
		180deg, 
        rgba(33,33,33,1)    20%, 
        rgba(255,255,255,0) 90%) no-repeat;

	width:  100vw;
	height: 100vh;

	padding-bottom: 15vh;

	/* Hack to center */
	position: fixed;
	top: 50%;
	transform: translateY(-50%);

	/* Children styling */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Passthrough mouse here too, we don't want people selecting texts */
	pointer-events: none;
}

main.homepage > * {
	/* Exemptions */
	pointer-events: all;
}

main.homepage > h1 {
	font-size: 6em;
}

main.homepage > h6.warn {
	/* Hidden by default */
	display: none;

    font-size: 0.75em;
    font-weight: 100;
    text-align: center;
    opacity: 0.1;

    width: 400px;
    margin: 5px;

    position: fixed;
	top: 0;
}

main.homepage > h1:hover ~ h6.warn {
	display: block;
}

main.homepage > img.logo {
	height: 250px;
	width:  250px;

	border-radius: 9999px;
}

nav {
    display: flex;

	border-radius: 9999px;
	overflow: hidden;

	background: linear-gradient(180deg, 
        rgba(0, 0, 0, 0.35)  5%, 
        rgba(0, 0, 0, 0.20) 90%) no-repeat;
}

nav > * {
    width: 300px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

	transition: background-color 100ms linear;
	background-color: rgba(0, 0, 0, 0);
}

nav a {
	color: white;
}

nav:hover > #discord {
	background-color: rgba(114, 137, 218, 0.15);
}
nav:hover > #irc {
	background-color: rgba(139, 194, 73, 0.15);
}

nav:hover > #discord:hover {
	background-color: rgba(114, 137, 218, 0.35);
}
nav:hover > #irc:hover {
	background-color: rgba(139, 194, 73, 0.35);
}

aside.background, iframe.feed {
	z-index: 0;
	width:  100vw;
	height: 100vh;
	overflow: hidden;
}

h1, p {
	margin: 0;
	line-height: 1.5em;
}

a {
	color: #3F7CE0;
	text-decoration: inherit;
}

a[href=""] {
	color: inherit;
	text-decoration: inherit;
}

img[src=""] {
	display: none;
}

/* Message styling */
.messages {
	z-index: 0;

	max-width: 800px;
	width: 100%;
	margin: 0 auto;

	height: 95vh; /* fake bottom padding */
	overflow: hidden;

	/* Children styling */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.messages > *:last-child {
	padding-bottom: 35px;
}

.message {
	display: flex;
	padding-top: 25px;
}

.message > img.avatar {
	border-radius: 50%;
	height: 50px;
	width:  50px;

	margin-right: 15px;
}

.message p.author {
	font-weight: 700;
	font-size: 0.95em;

	padding-top: 2px;
	padding-bottom: 2px;
}

.message p.author > span.bot {
    background-color: #7289da;

    border-radius: 9999px;
    padding: 1px 6px;

    font-size: 0.75em;
}

.message p.author > span.timestamp {
	font-weight: 500;
	font-size: 0.9em;
	opacity: 0.5;

	margin-left: 5px;
}

.message p.content {
	white-space: pre-wrap;
}

/* Markup for same-author */
.message.small {
	padding-top: 0px;
	margin-left: 65px;
}

.message.small > img.avatar, .message.small p.author {
    display: none;
}

/* Markup stuff */
blockquote {
    border-left: 4px solid grey;

    margin: 0px;
    padding: 2px 10px;
}

img.emoji {
    width:  1.5em;
    height: 1.5em;
	margin-bottom: -0.4em;
    object-fit: contain;
}

img.emoji.large {
    width:  3.5em;
    height: 3.5em;
}

span.mention {
    color: #7289da;
    background-color: rgba(114,137,218,.1);

	padding: 0 3px;
}

.attachment {
    max-width: 350px;
    max-height: 350px;
    margin: 5px 0;
}

.thumbnail {
	max-width:  80px;
	max-height: 80px;
}

.content pre {
	background-color: transparent !important;
}

/* Embed styling */
.embed {
    border-left: 4px solid #383838;
    background-color: #2C2C2C;

    padding: 16px;
	margin-top: 8px;

	max-width: 520px;

	font-size: 0.875rem;

	/* Thumbnail align */
	display: flex;
}

.embed p {
	word-wrap: break-word;
}

.embed img.icon {
    width: 25px;
    height: 25px;

	border-radius: 50%;

	/* Hack to center the icon */
    margin-bottom: -7px;
}

.embed > .left > *:not(:last-child) {
    margin-bottom: 8px;
}

.embed p.title {
	font-size: 1rem;
	font-weight: bold;
}

.embed .thumbnail {
	margin-left: 20px;
}

.embed .attachment {
	/* Allow interactions */
	pointer-events: all;
}

/* Typing indicator */
.typing {
	visibility: hidden;

	display: inline-flex;
	align-items: center;

	width: 100%;
	max-width: 800px;

	position: fixed;
	bottom: 5px;

	font-size: 0.9em;
	font-weight: 400;
}
.typing > .people::before, .typing > .people::after {
	padding-right: 0.25em;
}
.typing > .people::before {
	font-weight: bold;
}

@keyframes breathing {
	0% {
		background-color: #FFFFFFAA;
	}
	45%, 100% {
		background-color: #FFFFFF22;
	}
}

.dot-breathing, .dot-breathing::before, .dot-breathing::after {
	display: block;
	/* Make children's position absolute align */
	position: relative;

    width:  7px;
    height: 7px;
    border-radius: 9999px;

    background-color: #FFFFFFAA;
    color: #FFFFFFAA;

	animation: breathing 1200ms infinite alternate;
}

.dot-breathing::before, .dot-breathing::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-breathing::before {
	left: -10px;
	animation-delay: 000ms;
}
.dot-breathing {
	margin-right: 15px;
    animation-delay: 200ms;
}
.dot-breathing::after {
	left:  10px;
	animation-delay: 400ms;
}
